@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=El+Messiri&family=Fuzzy+Bubbles&family=Rasa:ital,wght@1,700&display=swap');

.App {
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  background-color: #e1eaf5;
  height: 100%;
}









